.field
  --target-height: 40px
  --color-primary: #2e3440
  --color-error: #BF616A
  --color-AAA: #d8dee9
  --color-hover: #afb4bd
  --color-focus: #5e81ac
  --font-size: calc(var(--target-height) * 0.4)
  --line-height: 1.5
  --width: 100%
  --background-color: transparent
  --border-color: var(--color-AAA)
  --border-radius: calc(var(--font-size) / 4)
  --border-width: calc(var(--font-size) / 9)
  --label-fz: calc(var(--font-size) * 0.813)
  --label-fw: 600
  --label-pb: calc(var(--font-size) / 4)
  --label-d: block
  --height: calc(var(--font-size) * 2.5)
  --base-padding: calc((var(--height) - var(--font-size)) / 2)
  --transition-field: color 0.1s ease, border-color 0.1s ease

  .hasError
    --border-color: var(--color-error)
    &:hover
    &:focus,
    &:focus-visible
      --border-color: var(--color-error)

  // font-size: var(--font-size)
  box-sizing: border-box
  margin-bottom: var(--base-padding)
  *
    box-sizing: border-box
    padding: 0

  button
    display: inline-block
    border-radius: var(--border-radius)
    border: var(--border-width) solid var(--border-color)
    background-color: var(--border-color)
    padding: var(--base-padding)
    height: var(--height)
    cursor: pointer
    transition: var(--transition-field)
    &:hover
      --border-color: var(--color-hover)
    &:focus,
    &:focus-visible
      outline: none
      --border-color: var(--color-focus)
      color: white

  &-errors
    font-size: var(--label-fz)
    color: var(--color-error)


  &-label
      display: var(--label-d)
      font-weight: var(--label-fw)
      font-size: var(--label-fz)
      padding-bottom: var(--label-pb)

  &-hidden
    display: none

  &-radioGroup
    height: auto
    .field-wrapper
      border: 0
    input[type="radio"]
      width: calc(var(--font-size) * 0.8)
      height: calc(var(--font-size) * 0.8)

  &-object
    .field-wrapper
      border: 0
      legend
        border-bottom: var(--border-width) solid #d8dee9
        padding: 0
        margin-bottom: var(--base-padding)

      .fieldset
        padding-left: var(--base-padding)

        .field
          position: relative
          &:nth-child(1)::before
            height: calc(100% - (var(--base-padding) * 0.6))
            top: calc((var(--target-height) / 2 * -1) + (var(--base-padding) * 0.6))
          &::before
            content: ""
            display: block
            width: var(--base-padding)
            height: calc(100% + var(--base-padding))
            position: absolute
            border: 0 solid var(--border-color)
            border-width: 0 0 var(--border-width) var(--border-width)
            top: calc((var(--target-height) / 2 * -1) - var(--base-padding))
            left: calc(var(--base-padding) * -1)
  &-array
    ol
      li
        display: flex
        column-gap: var(--base-padding)
        &:nth-child(1)
          .field .field-label
            display: block
          button
            margin-top: calc(var(--base-padding) * 1.6)
        .field .field-label
          display: none
        .fieldset
          display: flex
          column-gap: var(--base-padding)
          margin: 0
        button
          margin-bottom: calc(var(--base-padding) * 0.9)

  [class*='field-input']
    appearance: none
    background-color: var(--background-color)
    border-radius: var(--border-radius)
    border: var(--border-width) solid var(--border-color)
    font-size: var(--font-size)
    height: var(--height)
    line-height: var(--line-height)
    padding: var(--base-padding)
    transition: var(--transition-field)
    width: var(--width)

    &:hover
      --border-color: var(--color-hover)
    &:focus,
    &:focus-visible
      outline: none
      --border-color: var(--color-focus)

  .field-input
    &-color
      padding: calc(var(--base-padding) / 2)
      &::-webkit-color-swatch-wrapper
        padding: 0
      &::-webkit-color-swatch
        border-radius: var(--border-radius)
        border: 0

    &-textarea
      --height: auto
      font-family: inherit

    &-select
      width: 100%
      padding: 0 var(--base-padding)
      border: var(--border-width) solid var(--border-color)
      border-radius: var(--border-radius)
      line-height: var(--line-height)
      margin: 0
      padding-right: var(--target-height)
      &-wrapper
        padding: 0
        border: 0
        position: relative
        &::after
          position: absolute
          top: var(--base-padding)
          right: var(--base-padding)
          content: ""
          width: var(--font-size)
          height: var(--font-size)
          background-color: var(--border-color)
          clip-path: polygon(80% 10%, 0% 10%, 40% 80%)
          pointer-events: none

    &-radioGroup
      border: 0
      height: auto
      padding: calc(var(--target-height) / 5) 0
      &-option
        height: auto
        padding: 0 var(--base-padding) 0 0
        border: 0
        &-label
          border: 0
